syntax/*.jsf
joe/*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
charmaps/klingon
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
joe/.deps/
autoconf.h
autoconf.h.in
joe/joe
joe/stamp-h1
joe/stringify
joe/termidx
joe.1
missing
rc/*rc
rc/*.ru
